@import "tailwindcss";

:root {
    --color-primary-autoways: #1a7742;
    --color-secondary-autoways: #ffffff;
    --color-text-primary-autoways: #ffffff;
    --color-text-primary-autoways : #48b075;
}

.bg-primary-autoways {
    background-color: var(--color-primary-autoways);
}
.bg-secondary-autoways {
    background-color: var(--color-secondary-autoways);
}
.text-primary-autoways {
    color: var(--color-text-primary-autoways);
}
.text-secondary-autoways  {
    color: var(--color-text-primary-autoways );
}
